@inherits LayoutComponentBase

<div>
        <NavMenu />
    <main class="bg-light min-vh-100 h-100">
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
