@using BranchOut.Data
@using Microsoft.AspNetCore.Identity
@implements IDisposable

@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager


<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none px-4">
            <img src="/Images/branchout-logo.svg" class="img-fluid" style="width:75px;" />
        </a>
    </div>

    <div class="col-12 col-lg-auto">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <AuthorizeView>
                    <Authorized>
                        <ul class="nav my-2 justify-content-center text-center my-md-0 text-small">
                            <li>
                                <NavLink href="" class="nav-link px-4" Match="NavLinkMatch.All">
                                    <i class="bi bi-house-door fs-4"></i>
                                    <div>Home</div>
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="links" class="nav-link px-4" Match="NavLinkMatch.All">
                                    <i class="bi bi-link-45deg fs-4"></i>
                                    <div>Links</div>
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="profile" class="nav-link px-4" Match="NavLinkMatch.All">
                                    <i class="bi bi-person-circle fs-4"></i>
                                    <div>Profile</div>
                                </NavLink>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-end">
        <AuthorizeView>
            <Authorized>
                <ul class="nav my-3 justify-content-end">
                    <li class="nav-item me-4 d-inline">
                        <div class="dropdown">
                            <button class="border-0 bg-transparent me-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-lock fs-4"></i>
                            </button>

                            <ul class="dropdown-menu" style="width:200px;">
                                <li>
                                    <NavLink href="manage/gradients" class="dropdown-item rounded-2" Match="NavLinkMatch.All">
                                        <i class="bi bi-folder"></i>&nbsp; Gradients
                                    </NavLink>
                                </li>
                            </ul>

                            <button class="border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <ProfileImage Width="40px" Height="40px" Username="@context?.User?.Identity?.Name" FontSize="20" ImagePath="" />
                            </button>

                            <ul class="dropdown-menu" style="width:200px;">
                                <li>
                                    <NavLink href="@($"profile/{context?.User?.Identity?.Name}")" target="_blank" class="dropdown-item rounded-2" Match="NavLinkMatch.All">
                                        <i class="bi bi-box-arrow-up-right"></i>&nbsp; Your Profile Page
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink href="account/manage" class="dropdown-item rounded-2" Match="NavLinkMatch.All">
                                        <i class="bi bi-gear"></i>&nbsp; Settings
                                    </NavLink>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="" />
                                        <button type="submit" class="dropdown-item rounded-2">
                                            <i class="bi bi-box-arrow-right"></i>&nbsp; Log out
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </Authorized>
            <NotAuthorized>
                <ul class="nav my-3 justify-content-end mx-2 text-center">
                    <li class="nav-item me-2">
                        <NavLink class="btn btn-outline-primary" href="Account/Login">
                            Login
                        </NavLink>
                    </li>
                    <li class="nav-item me-2">
                        <NavLink class="btn btn-primary" href="Account/Register">
                            Sign Up
                        </NavLink>
                    </li>
                </ul>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>



@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

