<h1 class="fs-4 mt-5">Background</h1>
<div class="section-shadow rounded-3 bg-white w-100 p-5 mb-5">
    <h2 class="fs-5">Color:</h2>
    <ColorSelector InColor="@BackgroundColor" ReturnedColor="@(color => BackgroundColor = color)"></ColorSelector>

    <h2 class="fs-5 mt-5">Gradient:</h2>
    @if (Gradients != null)
    {
        <InputRadioGroup @bind-Value="Gradient">
            <div class="radio-cards row">
                @foreach (var gradient in Gradients)
                {
                    <RadioCard Type="Gradient" Value="@gradient.Value"></RadioCard>
                }
            </div>
        </InputRadioGroup>
    }
    else
    {
        <Spinner />
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Gradient>? Gradients { get; set; }

    [CascadingParameter(Name = "Profile")]
    public Profile profile { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChange { get; set; }

    private string BackgroundColor
    {
        get => profile.BackgroundColor;
        set
        {
            if (profile.BackgroundColor != value)
            {
                profile.BackgroundColor = value;
                ValueChange.InvokeAsync(true);
            }
        }
    }

    private string Gradient
    {
        get => profile.Gradient;
        set
        {
            if (profile.Gradient != value)
            {
                profile.Gradient = value;
                ValueChange.InvokeAsync(true);
            }
        }
    }
}
