<h2 class="fs-4 mt-5">Text</h2>
<div class="section-shadow rounded-3 bg-white w-100 p-5 mb-5">
    <h2 class="fs-5">Color:</h2>
    <ColorSelector InColor="@TextColor" ReturnedColor="@(color => TextColor = color)"></ColorSelector>

    <h3 class="fs-5 mt-5">Font:</h3>
    @if (Fonts != null)
    {
        <InputRadioGroup @bind-Value="Font">
            <div class="radio-cards row">
                @foreach (var font in Fonts)
                {
                    <RadioCard Type="Font" Value="@font.Name" FontSize="fs-1"></RadioCard>
                }
            </div>
        </InputRadioGroup>
    }
    else
    {
        <Spinner />
    }



</div>

@code {
    [Parameter]
    public IEnumerable<Font>? Fonts { get; set; }

    [CascadingParameter(Name = "Profile")]
    public Profile profile { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChange { get; set; }

    private string Font
    {
        get => profile.Font;
        set
        {
            if (profile.Font != value)
            {
                profile.Font = value;
                ValueChange.InvokeAsync(true);
            }
        }
    }

    private string TextColor
    {
        get => profile.TextColor;
        set
        {
            if (profile.TextColor != value)
            {
                profile.TextColor = value;
                ValueChange.InvokeAsync(true);
            }
        }
    }
}
