@inherits LayoutComponentBase
@layout BranchOut.Components.Layout.MainLayout

@inject IProfileRepository _profileRepository
@inject UserService _userService

<CascadingValue Name="User" Value="@User">
    <CascadingValue Name="Profile" Value="@profile">
        <div class="px-4">
            <div class="row">
                <div class="col-8">
                    @Body
                </div>
                <div class="col-12 col-md-4">

                    <CellPhone />
                </div>
            </div>
        </div>
    </CascadingValue>
</CascadingValue>

@code {
    public ApplicationUser User = new ApplicationUser();
    public Profile profile = new Profile();

    // protected override async Task OnInitializedAsync()
    // {
    //     profile = await _profileRepository.GetAsync(userId);
    // }

    protected override async Task OnInitializedAsync()
    {
        User = await _userService.GetCurrentUserAsync();
    }
}
