@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sticky-top py-4">
    <div class="phone-frame mx-auto">
        <ProfilePage PhoneMode="true"></ProfilePage>
    </div>
</div>

@code {

}