@inherits LayoutComponentBase

<style>
    html, body {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }

        html::-webkit-scrollbar {
            display: none; /* Chrome, Safari, and newer browsers */
        }
</style>

<div class="text-center" style="height:100vh;">
    @Body
</div>