<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5 class="my-2">Are you sure you want to delete the selected @(ItemType)(s)?</h5>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" class="btn btn-lg btn-link text-decoration-none col-6 py-3 m-0 rounded-0 border-end link-danger" @onclick="DeleteItem">
                    <i class="bi bi-trash-fill fs-6"></i>
                    &nbsp;
                    <span class="fs-6">Delete</span>
                </button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 link-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> ModalClose { get; set; }

    [Parameter]
    public EventCallback OnConfirm { get; set; }

    [Parameter]
    public string Item { get; set; }

    private string ItemType => Item.ToString().ToLower();


    private async Task DeleteItem()
    {
        if (OnConfirm.HasDelegate)
        {
            await OnConfirm.InvokeAsync();
        }

        await ModalClose.InvokeAsync(true);
    }
}
