@{
    var baseClasses = $"mx-auto {FontSize}";
    var classes = Type switch
    {
        "Gradient" => $"border border-1 bg-square gradient-{ValueLower} {baseClasses}",
        "Color" => $"border border-1 bg-square bg-{ValueLower} {baseClasses}",
        "Font" => $"font-container font-{ValueLower} {baseClasses}",
        "Border" => $"bg-square border-{ValueLower} {baseClasses}",
        "Effect" => $"bg-square btn-effect-{ValueLower} {baseClasses}",
        _ => baseClasses
    };
}

<label class="radio-card text-center col-12 col-sm-6 col-xxl-4">
    <InputRadio class="radio" Value="@ValueLower" />
    <span class="radio-card-body">
        <br />
        <span class="@classes">
            @if (Type == "Font")
            {
                <text>Aa</text>
            }
        </span>
        <br />@Value
    </span>
</label>


@code {
    [Parameter]
    public string Type { get; set; } = "";

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string FontSize { get; set; } = "";

    public string ValueLower => Value.ToLower().Replace(" ", "-");
}
