@typeparam TItem

<div class="form-check">
    <input class="form-check-input" type="checkbox" @onclick="ToggleSelectAll" checked="@IsAllSelected" />
</div>

@code {
    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }

    [Parameter]
    public bool IsAllSelected { get; set; }

    [Parameter]
    public EventCallback<bool> IsAllSelectedChanged { get; set; }

    [Parameter]
    public Action<TItem, bool>? SetIsSelected { get; set; }

    private async Task ToggleSelectAll()
    {
        IsAllSelected = !IsAllSelected;

        if (Items != null && SetIsSelected != null)
        {
            foreach (var item in Items)
            {
                SetIsSelected(item, IsAllSelected);
            }
        }

        await IsAllSelectedChanged.InvokeAsync(IsAllSelected);
    }
}
