@inject ILinkRepository _linkRepository
@inject LinksState LinksState

<div class="modal fade" id="deleteLinkModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5 class="my-2">Are you sure you want to delete this link?</h5>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end link-danger" @onclick="DeleteLink">Delete</button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 link-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Links")]
    public List<Link> UserLinks { get; set; }

    [Parameter]
    public EventCallback<bool> ModalClose { get; set; }

    [Parameter]
    public int LinkToDelete { get; set; }

    private async Task DeleteLink()
    {
        await _linkRepository.DeleteAsync(LinkToDelete);
        var link = UserLinks.FirstOrDefault(l => l.Id == LinkToDelete);
        if (link != null)
        {
            UserLinks.Remove(link);
        }
        await LinksState.UpdateLinkOrderAsync(UserLinks, _linkRepository);
        await ModalClose.InvokeAsync(true);
    }
}