@page "/profile"

@inject NavigationManager NavigationManager
@inject IProfileRepository _profileRepository
@inject IJSRuntime _JS
@inject ProfileState ProfileState


<div class="mt-5 w-75 mx-auto">
    <h1 class="fs-4">Profile</h1>
    <div class="shadow-sm rounded-3 bg-white w-100 p-5">
        <h2 class="fs-6">Image:</h2>
        <div class="position-relative mx-auto" style="width:150px;height:150px;">
            <div class="position-absolute" style="right:0;bottom:0;">
                <button class="btn btn-primary">
                    <i class="bi bi-image"></i>
                </button>
            </div>
            <svg class="bd-placeholder-img" width="150px" height="150px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="lightgray" />
                <text x="50%" y="50%" dy=".4em" text-anchor="middle" font-size="50" fill="black">
                    @User.UserName?.Substring(0, 1).ToUpper()
                </text>
            </svg>
        </div>
        <div class="mt-5">
            <div class="fs-6">Message:</div>
            <div class="mx-auto">
                <textarea class="form-control" id="txtMessage" style="height: 100px"
                          @onchange="UpdateProfile">@profile.Message</textarea>

            </div>
        </div>
    </div>


    <h1 class="fs-4 mt-5">Background</h1>
    <div class="shadow-sm rounded-3 bg-white w-100 p-5 mb-5">
        <InputRadioGroup @bind-Value="Theme">
            <div class="radio-cards">
                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("none") />
                    <span class="radio-card-body">
                        <br />
                        <span class="border border-1 bg-square mx-auto"></span>
                        <br />None
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("cherry-blossom") />
                    <span class="radio-card-body">
                        <br />
                        <span class="border border-1 bg-square mx-auto bg-cherry-blossom"></span>
                        <br />Cherry Blossom
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("tropical") />
                    <span class="radio-card-body">
                        <br />
                        <span class="border border-1 bg-square mx-auto bg-tropical"></span>
                        <br />Tropical
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("northern-lights") />
                    <span class="radio-card-body">
                        <br />
                        <span class="border border-1 bg-square mx-auto bg-northern-lights"></span>
                        <br />Northern Lights
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("vibrant") />
                    <span class="radio-card-body">
                        <br />
                        <span class="border border-1 bg-square mx-auto bg-vibrant"></span>
                        <br />Vibrant
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("lime") />
                    <span class="radio-card-body">
                        <br />
                        <span class="border border-1 bg-square mx-auto bg-lime"></span>
                        <br />Lime
                    </span>
                </label>
            </div>
        </InputRadioGroup>
    </div>


    <h1 class="fs-4 mt-5">Font</h1>
    <div class="shadow-sm rounded-3 bg-white w-100 p-5 mb-5">
        <InputRadioGroup @bind-Value="Font">
            <div class="radio-cards">
                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("inter") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-inter fs-1">Inter</span>
                        <br />Inter
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("sofia") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-sofia fs-1">Sofia</span>
                        <br />Sofia
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("merriweather") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-merriweather fs-5 mt-2">Merriweather</span>
                        <br />Merriweather
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("miniver") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-miniver fs-3 mt-2">Miniver</span>
                        <br />Miniver
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("oswald") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-oswald fs-1">Oswald</span>
                        <br />Oswald
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("raleway") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-raleway fs-3">Raleway</span>
                        <br />Raleway
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("yomogi") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-yomogi fs-3">Yomogi</span>
                        <br />Yomogi
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("silkscreen") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-silkscreen fs-5">Silkscreen</span>
                        <br />Silkscreen
                    </span>
                </label>

                <label class="radio-card text-center">
                    <InputRadio class="radio" Value=@("fresca") />
                    <span class="radio-card-body">
                        <br />
                        <span class="font-container mx-auto font-fresca fs-3">Fresca</span>
                        <br />Fresca
                    </span>
                </label>
            </div>
        </InputRadioGroup>
    </div>


</div>
<br />
<br />
<br />
<br />
<br />


@code {
    [CascadingParameter(Name = "User")]
    public ApplicationUser User { get; set; }

    [CascadingParameter(Name = "Profile")]
    public Profile profile { get; set; }


    private string Theme
    {
        get => profile.Theme;
        set
        {
            if (profile.Theme != value)
            {
                profile.Theme = value;
                Update();
            }
        }
    }

    private string Font
    {
        get => profile.Font;
        set
        {
            if (profile.Font != value)
            {
                profile.Font = value;
                Update();
            }
        }
    }

    private bool UserExists { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
    }

    private async Task LoadProfile()
    {
        var currentUser = User;

        var userId = currentUser.Id.ToString();
    }

    private async Task UpdateProfile(ChangeEventArgs e)
    {
        profile.Message = e.Value?.ToString();

        await Update();
    }

    private async Task Update()
    {

        await _profileRepository.UpdateAsync(profile);
        await ProfileState.UpdateProfileAsync(profile, _profileRepository);
    }
}
