@page "/links"
@layout CellPhonePageLayout

@inject IJSRuntime _JS
@inject ILinkRepository _linkRepository
@inject LinksState LinksState


@if (IsProcessing)
{
    <Spinner />
}
else
{
    <div class="row">
        <div class="mt-5 col-12 col-lg-9 mx-auto">
            <LinkSection />
            <SocialIconSection />
        </div>
    </div>
}

@code {
    private bool IsProcessing { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = false;
    }
}
