@page "/"

<PageTitle>Home</PageTitle>

<div class="px-4 text-center bg-grad py-5">
    <div data-aos="zoom-in">
        <Logo />
    </div>

    <div data-aos="zoom-in">
        <h1 class="display-4 fw-bolder text-body-emphasis gradient-text mt-5">Branch Out</h1>
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Branch Out is a brand new platform that brings all your important links together in one place. Create a branded landing page with social icons, links, and customization—perfect for creators, freelancers, and businesses who want to share everything they do with one easy link.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="account/login" class="btn btn-primary btn-lg px-5 me-sm-3 rounded-pill">Log In</a>
            <a href="account/register" type="button" class="btn btn-outline-secondary btn-lg px-5 rounded-pill">Sign Up</a>
        </div>
    </div>
    <div class="overflow-hidden d-none d-lg-block" style="max-height: 30vh;">
        <div class="container px-5">
            <svg width="700px" height="200px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="transparent" />
            </svg>
        </div>
    </div>
</div>

<div class="bg-light py-2 py-lg-5">
    <div class="container px-4 py-5">
        <h2 class="pb-2">Effortless Link Sharing for Everyone</h2>
        <hr class="gradient-hr">

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <div data-aos="fade-right">
                    <h2 class="fw-bold text-body-emphasis icon-gradient fs-1">Streamlining Link in Bio</h2>
                </div>
                <p class="text-body-secondary">
                    Simplify your online presence with a clean, straightforward profile that directs people exactly where you want them to go. No ads or efforts to get you to spend money — just pure, easy linking that gets the job done beautifully.
                </p>
                <p class="text-body-secondary">
                    Skip the clutter and skip the upsells. Whether you're sharing your portfolio, promoting your latest project, or connecting all your platforms in one place, this app keeps things easy so you can focus on your content — not on managing yet another tool.
                </p>
                <a href="#" class="btn btn-primary btn-lg rounded-pill px-5 w-100 btn-responsive align-self-center align-self-sm-start">Learn More</a>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2 align-items-center align-items-sm-start text-center text-sm-start" data-aos="fade-left">
                        <div class="feature-icon-small d-flex align-items-center justify-content-center fs-4 rounded-3 bg-blue">
                            <i class="bi bi-person-circle fs-1 text-white"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Customize Your Page</h4>
                        <p class="text-body-secondary">
                            Make your page truly yours with flexible design options.
                        </p>
                    </div>

                    <div class="col d-flex flex-column gap-2 align-items-center align-items-sm-start text-center text-sm-start" data-aos="fade-left">
                        <div class="feature-icon-small d-flex align-items-center justify-content-center fs-4 rounded-3 bg-purple">
                            <i class="bi bi-lightning fs-1 text-white"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Fast and Lightweight</h4>
                        <p class="text-body-secondary">No bloat, no distractions.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2 align-items-center align-items-sm-start text-center text-sm-start" data-aos="fade-left">
                        <div class="feature-icon-small d-flex align-items-center justify-content-center fs-4 rounded-3 bg-green">
                            <i class="bi bi-link fs-1 text-white"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Add Unlimited Links</h4>
                        <p class="text-body-secondary">From social media profiles to personal projects, you’re free to add as many links as you need.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2 align-items-center align-items-sm-start text-center text-sm-start" data-aos="fade-left">
                        <div class="feature-icon-small d-flex align-items-center justify-content-center fs-4 rounded-3 bg-blue">
                            <i class="bi bi-cup-straw fs-1 text-white"></i>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Simple Setup</h4>
                        <p class="text-body-secondary">Create your page in minutes and forget about complicated updates.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    AOS.init();
</script>
