html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    padding-right: 0px !important;
}

.nav-link {
    border-radius: 10px;
}

.nav-link.active {
    background-color: #0d6efd !important;
    text-decoration: none !important;
    color: #FFF !important;
}

.bd-placeholder-img {
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 25px;
}

.nav-pills .nav-item:hover {
    background-color: #e9ecef;
}

.nav-pills .nav-link {
    transition: none;
}

.nav-pills .nav-link:hover {
    color: #000;
}

.phone-frame {
    position: relative;
    width: 360px;
    height: 720px;
    background-color: white;
    border: 8px solid #000;
    border-radius: 20px;
    overflow: hidden;
}

.phone-screen {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 340px;
    height: 700px;
    border: none;
    border-radius: 15px;
    background-color: white;
}

.sticky-wrapper {
    position: relative;
}

.dropdown-menu {
    z-index: 1021;
}

.disable-text-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.draggable-card {
    cursor: grab;
}

.bd-placeholder-img {
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 100px;
}

.radio-cards {
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
}

@media (min-width: 42em) {
    .radio-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.radio-card {
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s;
}

    .radio-card:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

.radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(1em + 2px);
    top: calc(1em + 2px);
    appearance: none;
    background: #fff;
    border: 2px solid #e2ebf6;
    border-radius: 50%;
    cursor: pointer;
    height: 1.5em;
    outline: none;
    transition: all 0.2s ease-out;
    width: 24px;
}

    .radio::after {
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 10px;
        width: 5px;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
    }

    .radio:checked {
        background: #0d6efd;
        border-color: #0d6efd;
    }

.radio-card:hover .radio {
    border-color: #c4d1e1;
}

    .radio-card:hover .radio:checked {
        border-color: #0d6efd;
    }

.radio-card-body {
    border: 2px solid #e2ebf6;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: border-color 0.2s ease-out;
}

.radio:checked ~ .radio-card-body {
    border: 2px solid #0d6efd;
}

.bg-none {
    background: none;
}

.bg-cherry-blossom {
    background: #FFB7C5;
    background: linear-gradient(to bottom, #FFB7C5 0%, #F0A8B6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFB7C5), color-stop(100%, #F0A8B6));
    background: -webkit-linear-gradient(top, #FFB7C5 0%, #F0A8B6 100%);
    background: -moz-linear-gradient(top, #FFB7C5 0%, #F0A8B6 100%);
    background: -o-linear-gradient(top, #FFB7C5 0%, #F0A8B6 100%);
    box-shadow: inset 0 1px 0 #FFC6D4;
    -webkit-box-shadow: inset 0 1px 0 #FFC6D4;
    -moz-box-shadow: inset 0 1px 0 #FFC6D4;
}

.bg-tropical {
    background-image: linear-gradient( 109.6deg, rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
}

.bg-northern-lights {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.bg-pastel {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.bg-vibrant {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.bg-lime {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.bg-ocean {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.bg-square {
    width: 75px;
    height: 75px;
}

.font-container {
    width: 125px;
    height: 50px;
}

.font-sofia {
    font-family: "Sofia", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-merriweather {
    font-family: "Merriweather", sans-serif;
}

.font-miniver {
    font-family: "Miniver", sans-serif;
}

.font-oswald {
    font-family: "Oswald", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-yomogi {
    font-family: "Yomogi", sans-serif;
}

.font-silkscreen {
    font-family: "Silkscreen", sans-serif;
}

.font-fresca {
    font-family: "Fresca", sans-serif;
}

.btn-square {
    border-radius: 0;
}

.btn-round {
    border-radius: 0.375rem;
}

.btn-rounder {
    border-radius: .75rem;
}

.btn-pill {
    border-radius: 50rem;
}

.border-dark {
    border: 1px solid darkgray;
}

.rectangle {
    width: 85px;
    height: 45px;
}

.border-none {
    border: none !important;
}

.border-thin {
    border: 1px solid #000 !important;
}

.border-thick {
    border: 2px solid #000 !important;
}

.btn-3d {
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
}

    .btn-3d:hover {
        box-shadow: #422800 1px 1px 0 0;
        transform: translate(2px, 2px);
    }